body, #bloc_page, nav, main, section {
    margin:0;
    padding:0;
    width:100%;
    @extend %flex-center;
    flex-direction:column;
}
#bloc_page {
    max-width:1600px;
}


figure {
    img {
        object-fit:cover;
    }
    margin:0;
    padding:0;
}

