/* Extension pour l'alignement centrale */
%flex-center {
    display:flex;
    justify-content: center;
    align-items: center;
}
/* Extension pour l'alignement centrale */

/* Extension pour le soulignement "entrées, plats, desserts" */
%underliner {
    font-weight:lighter;
    border-bottom:3px solid $colour-tertiary; 
}
/* Extension pour le soulignement "entrées, plats, desserts" */