/* Chargement de la page principale */
@keyframes loading-spin {
    0% {
        transform:rotate(0deg);
    }
    100% {
        transform:rotate(360deg);
    }
}
@keyframes loader {
    0% {
        opacity:90%;
    }
    100% {
        opacity:0%;
        z-index:-10;
    }
}
/* Chargement de la page principale */


/* Animation d'apparition des menus */
@keyframes appear {
    0% {
        opacity:0%;
    }
    100% {
        opacity:100%;
    }
}
/*--- application de l'animation ---*/
.choice {
    opacity:0;
    animation:appear ease-out 1000ms forwards;
}
.choice:nth-child(1) {
    animation-delay: 0.5s;
}
.choice:nth-child(2) {
    animation-delay: 0.5s;
}
.choice:nth-child(3) {
    animation-delay: 0.5s;
}
.food__choice {
    opacity:0;
    animation:appear ease-out 1500ms forwards;
}
.food__choice:nth-child(1){
    animation-delay: 1s;
}
.food__choice:nth-child(2){
    animation-delay: 1.30s;
}
.food__choice:nth-child(3){
    animation-delay: 1.60s;
}
.food__choice:nth-child(4){
    animation-delay: 1.90s;
}
/*--- application de l'animation ---*/
/* Animation d'apparition des menus */


/* Animation pour le remplissage des coeurs */
@keyframes filling {
    0% {
        opacity:0%;
    }
    100% {
        opacity:100%;
        background:$linear-gradient;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        transform:scale(1.2);
    }
}
/* Animation pour le remplissage des coeurs */


/* Animation de translation et de rotation du selecteur de menu au survol */
/*--- translation ---*/
@keyframes  translate {
    0% {
        opacity:100%;
    }
    100% {
        opacity:100%;
        transform:scaleX(1);
    }
}
.food__choice {
    &:hover .food__choice__select {
        animation:translate  500ms forwards;
        width:80px;
    }
}
/*--- translation ---*/

/*--- rotation ---*/
@keyframes roll {
    100% {
        transform:rotate(0deg);
    }
}
.food__choice {
    &:hover .food__choice__select-icon {
        animation-delay: 250ms;
        animation:roll 500ms forwards;
    }
}
/*--- rotation ---*/

/*--- application de l'animation ---*/

/*--- application de l'animation ---*/
/* Animation de translation et de rotation du selecteur de menu au survol */