/* BREAKPOINTS */
/* Breakpoint pour mobile */
@mixin mobile-only {
    @media screen and (max-width:map-get($breakpoints,mobile)) {
        @content;
    }
}
/* Breakpoint pour mobile */

/* Breakpoint pour tablet */
@mixin tablet-only {
    @media screen and (max-width:map-get($breakpoints,tablet)) {
        @content;
    }
}
/* Breakpoint pour tablet */

/* Mixin pour tous les restaurants en page principale */
@mixin restaurants {
    width:45%;
    margin:10px 0 10px 0;
    display:block;
    position:relative;
    flex-direction:column;
    box-shadow: 5px 5px 10px lightgray;
    border-radius:10px;
    text-decoration:none;
    color:black;
    @include mobile-only {
        width:100%;
    }
    .choices__new {
        @extend %flex-center;
        width:30%;
        height:15%;
        background-color:$colour-tertiary;
        position:absolute;
        top: .75rem;
        right: .75rem;
        z-index:1;
        border-radius:3px;
        p {
            font-size:15px;
            color:darken($colour-tertiary, 50%);
        }
    }
    img {
        width:100%;
        height: 150px;
        border-radius:10px 10px 0 0;
    }
    figcaption {
        width:100%;
        margin:0;
        padding:0;
        background-color:white;
        height:70px;
        @extend %flex-center;
        border-radius:0 0 10px 10px ;
        .choices__id {
            background-color:white;
            width:80%;
            height:100%;
            text-decoration:none;
            color:black;
            &--click { 
                width:90%; 
                h3 {
                    margin:10px 0 0 0;
                    padding:0;   
                }
                p {
                    margin-top:10px;
                }
                transition:ease-in-out 250ms;
                &:hover {
                    transform:scale(1.05);
                    color:$colour-primary;
                }
                @include tablet-only {
                    &:active {
                        transform:none;
                        color:$colour-primary;
                    }
                }
            }  
        }
        .choices__heart {
            @extend %flex-center;
            width:10%;
            cursor:pointer;
            &--empty {
                position:absolute;
                font-size:22px;
            }
            &--filled {
                position:relative;
                color:white;
                font-size:19.5px;
                &:hover {
                    animation:filling 400ms forwards;
                }
            }
        }
    }
}
/* Mixin pour tous les restaurants en page principale */


