$colour-primary:#9356DC;
$colour-secondary:#FF79DA;
$colour-tertiary:#99E2D0;
$linear-gradient:linear-gradient(#FF79DA,#9356DC);
$colour-quaternary:#FFFFFF;
$colour-footer:#353535;
$colour-lightgrey:#ececec;
$colour-lightnessgrey:#f5f5f5;
$breakpoints:(
    mobile:480px,
    tablet:1024px
    );

