
.header {
    width:100%;
    box-shadow: 0 0 0.5rem rgb(0 0 0 / 25%);
    position: relative;
    z-index: 1000;
    @extend %flex-center;
    flex-direction:row;
    
    &__back {
        position: absolute;
        top: 35%;
        left: 5%;
        text-decoration: none;
        color:black;
        font-size:24px;
        transition:transform ease-in-out 200ms;
        &:hover {
            transform:scale(1.4)
        }
    }
   

    
    &__logo {
        position: relative;
        font-family: $font-title;
    }
    
}
/* Bannière d'en-tête de chaque pages */
